<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.dgsw.flow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="kr.hs.dgsw.flow.Activity.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kr.hs.dgsw.flow.Activity.MealActivity" />
        <activity android:name="kr.hs.dgsw.flow.Activity.ApplicationActivity" />
        <activity android:name="kr.hs.dgsw.flow.Activity.MainActivity" />
        <activity android:name="kr.hs.dgsw.flow.Activity.RegisterActivity" />
        <activity android:name="kr.hs.dgsw.flow.Activity.DbCheckActivity" />
        <activity android:name="kr.hs.dgsw.flow.Activity.GoOutActivity" />
        <activity android:name="kr.hs.dgsw.flow.Activity.TestGoOutActivity" />
        <activity android:name="kr.hs.dgsw.flow.Activity.TestSleepOutActivity"></activity>
    </application>

</manifest>